body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$crnw767: 767px;

@mixin mobile {
  @media (max-width: $crnw767) {
    @content;
  }
}

.flx_div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  padding: 15px;

  .child_item {
    border: gray solid 1px;
    padding: 15px;
    font-size: 90px;
    padding: 10px;
    @include mobile {
      border-color: green;
    }
  }

  .order_change {
    order: 2;
    border: red solid 1px;
    // flex-grow:1;
    align-self: flex-start;
  }

  .order_change2 {
    order: 3;
    border-color: green;
    flex-shrink: 2;
  }
}
